@keyframes left-grid-bootup-anim {

  from {

    transform: translateX(-100%);
    opacity: 0;
  }

  to {

    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right-grid-bootup-anim {

  from {

    transform: translateX(100%);
    opacity: 0;
  }

  to {

    transform: translateX(0);
    opacity: 1;
  }
}

* {

  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

body {

  background-color: #3173D7;
}

p, a {

  align-self: center;
  color: white;

  text-align: center;
}

#root, body, html {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {

  .login-page {

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100%;
  
    align-items: center;
    justify-content: center;
  
    height: 100%;
  
    grid-template-areas: "left-item right-item";
  }
  
  .grid-item-left {
  
    grid-area: left-item;
  
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;  
  
    gap: 1.5rem;
  
    height: 100%;

    animation: left-grid-bootup-anim 1s forwards;
  }
  
  .grid-item-left p {
  
    font-size: large;
    font-weight: bold;
  }
  
  .grid-item-right {
  
    grid-area: right-item;
  
    display: flex;
    flex-direction: column;
  
    background-color: #6F9CDC;
  
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
  
    height: 100%;
  
    gap: 1.5rem;

    animation: right-grid-bootup-anim 1s forwards;
  }
  
  .grid-item-right form {
  
    display: flex;
    flex-direction: column;
  
    gap: 0.6rem;
  }
  
  .grid-item-right label {
  
    color: white;
  }
  
  .text-field {
  
    padding: 10px;
  
    border-radius: 5px;
    border: 0px;
  }
  
  .submit-btn {
  
    margin: 10px 0px 10px 0px;
    padding: 10px;
  
    border: 0px;
    border-radius: 5px;
  
    font-size: medium;
  
    background-color: #A6E4DD;
  }
}